.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  width: 275px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  padding-top: 10px;
}

.card-top-content .list-inline {
  color: rgb(189, 189, 189);
  text-align: right;
  margin-right: 10px;
}

.card-bottom-content {
  text-align: left;
  display: flex;
  margin-left: 5px;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}

.card .save-button {
  background-color: beige;
  color: rgb(181, 181, 181);
  padding: 5px 15px;
  border-radius: 8px;
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
}

.card-top-content {
  position: relative;
}

.card-top-content:hover .save-button {
  display: block;
}

.save-button:hover {
  color: #000;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.card-bottom-content .profile-link {
  color: blue;
}

.card-bottom-content .profile-link:hover {
  color: hsl(209, 100%, 50%);
}
